{% extends "base.html" %}


{% block content %}
<link rel="stylesheet" href="{{url_for('auth.static', filename='css/styles.css')}}"/>
<title>Регистрация пользователя</title>

{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}

<form action=" " method="post">
    {{ form.hidden_tag() }}
    {{ form.username.label() }} {{ form.username() }}
    {{ form.email.label() }} {{ form.email() }}
    {{ form.password.label() }} {{ form.password() }}
    {{ form.confirm_password.label() }} {{ form.confirm_password() }}
    {{ form.submit() }}
</form>
{% endblock %}